:root{
  --dark-color: #222;
  --pomodoro-color: #ba4949;
  --short-break-color: #38858a;
  --long-break-color: #397997;
  --light-text-color: #fff;
  --grey-color: #dddddd;

  --task-color: #ffd28f;
  --task-done-color: #73b46d;
}

@font-face {
  font-weight: 400;
  font-family: TTCommons;
  font-style: normal;
  src: url("../fonts/TTCommons-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: TTCommons;
  font-style: normal;
  src: url("../fonts/TTCommons-Bold.woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: TTCommons, Arial, Helvetica, sans-serif;
  background-color: var(--dark-color);
  color: var(--light-text-color);
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.tabs-background {
  padding-top: 0;
  user-select: none;
  margin-bottom: 40px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
}

.tab-activation-button {
  padding: 20px 0;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-color);
}

.active-tab {
  color: var(--light-text-color);
}

.pomodoro-button.active-tab {
  background: var(--pomodoro-color);
}

.short-break-button.active-tab {
  background: var(--short-break-color);
}

.long-break-button.active-tab {
  background: var(--long-break-color);
}

.tabs-contant {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabs {
  text-align: center;
}

.timer-block {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.timer {
  display: block;
  text-align: center;
  font-size: 62px;
  font-weight: 700;
  min-width: 200px;
}

.timer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.control-button {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--light-text-color);
  font-weight: 700;
  font-size: 20px;
}

.control-button[disabled] {
  opacity: 0.3;
}

.tasks {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-color);
  color: var(--dark-color);
}

.tasks__input-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tasks__cycle-number {
  width: 100px;
}

.tasks__list {
  padding-left: 0;
}

.tasks__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.tasks__input {
  border: 0;
  padding: 10px;
}

.tasks__list-item + .tasks__list-item {
  margin-top: 10px;
}

.task {
  padding: 15px;
  background-color: var(--task-color);
  transition: background-color 0.4s ease;
}

.task input{
  cursor: pointer;
}

.task label {
  width: 220px;
  word-wrap: break-word;
  cursor: pointer;
}

.task-done {
  background-color: var(--task-done-color);
}

.task-done label {
  text-decoration: line-through;
}

@media (hover: hover) and (pointer: fine) {
  .control-button:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
  }
  .control-button[disabled]:hover {
    transform: translateY(0);
  }
}

.control-button:active {
  transform: translateY(4px);
  opacity: 0.7;
}

.control-button[disabled]:active {
  transform: translateY(0);
  opacity: 0.3;
}

.control-button svg {
  fill: var(--light-text-color);
  transform: translateX(-2px);
}

.tasks__add-button svg {
  fill: var(--dark-color);
}

.task__delete-button {
  width: 30px;
  height: 30px;
  background: url(../img/delete-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pomodoro-count {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-form {
  display: flex;
  flex-direction: column;
}

.count-form__controls {
  display: flex;
  gap: 10px;
}

.pomodoro-current {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.necessary-cycles-input {
  width: 70px;
  border: 0;
  padding: 4px 10px;
}

.short-break-tab {
  display: none;
}

.long-break-tab {
  display: none;
}

.pomodoro-background {
  background-color: var(--pomodoro-color);
}

.short-break-tab-background {
  background-color: var(--short-break-color);
}

.short-break-tab-background .short-break-tab {
  display: block;
}

.long-break-tab-background {
  background-color: var(--long-break-color);
}

.long-break-tab-background .long-break-tab {
  display: block;
}

.long-break-tab-background .pomodoro-tab,
.long-break-tab-background .short-break-tab,
.short-break-tab-background .pomodoro-tab,
.short-break-tab-background .long-break-tab {
  display: none;
}

@media (max-width: 450px) {
  .timer-buttons {
    justify-content: space-between;
    gap: 0;
  }

  .pomodoro-count {
    flex-direction: column;
    gap: 20px;
  }

  .pomodoro-current {
    flex-direction: row;
    gap: 10px;
  }

  .timer {
    font-size: 40px;
    min-width: 120px;
  }

  .task label {
    width: 120px;
  }

  .tasks__input {
    width: 100%;
  }
}